:root{
    --green: rgb(1, 163, 130);
    --red:rgb(237, 39, 39);
    --blue: rgb(47, 124, 231);
    --none: rgba(0,0,0,0)
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: row;
}

.flex-start{
    justify-self: flex-start;
}

.flex-end{
    justify-self: flex-end;
}

body{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.title-container{
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}

.title-container .logo{
    width: 5rem;
    object-fit: contain;
    height: auto;
    margin: 0rem;
}

.title-container p{
    height: fit-content;
    text-align: center;
    margin: auto 0.5rem;
    padding: 10px;
}

.title-container .title-text_blue{
 color: var(--blue);
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--blue);
    color: white;
}

.menu-item{
    margin: 0px 10px;
    background-color: none;
    padding: 20px;
}

.menu-item:hover{
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
    transition: ease-in-out 0.2s;
    color: black;
}

.tab-selector{
    width: 100vw;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab-button{
    background-color: var(--none);
    border: 0px solid rgba(0,0,0,0);
    border-bottom: 2px var(--blue) solid;
    padding: 15px;
    font-size: 1.2rem;
    margin: 0px 2rem;
    cursor: pointer;
}

.tab-button:hover{
    border-bottom: 2px var(--green) solid;
}

.forms{
    width: 50vw;
    padding: 20px;
    border-radius: 20px;
    margin: 50px auto;
}

.form-content{
    display: flex;
} 

.form-content form{
    width: 50%;
}

.form-content form{
    width: 80%;
}

.form-button{
    padding: 15px;
    color: white;
    background-color: var(--blue);
    text-align: center;
    border: 0px solid var(--none);
    border-radius: 5px;
    width: 5rem;
    cursor: pointer;
}

.new-patient-img{
    margin-right: 2rem;
    transform: rotateZ(-20deg);
    width: 15vw;
    height: auto;
    object-fit: contain;
}

label{
    display: block;
    margin: 20px auto 10px auto;
    font-weight: 600;
}

input{
    padding: 15px;
    width: 95%;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: 0px;
}

input:hover{
    border: 1px solid var(--green);
    transition: ease-in-out 0.2s;
}

select{
    padding: 15px;
    width: 95%;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: 0px;
}

select:hover{
    border: 1px solid var(--green);
    transition: ease-in-out 0.2s;
}

textarea{
    width: 95%;
    padding: 10px;
    min-height: 2rem;
    max-height: 5rem;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: 0px;
}

textarea:hover{
    border: 1px solid var(--green);
    transition: ease-in-out 0.2s;
}